html {
  /* Primero comando para pular para o próximo vídeo com um leve comando (mouse ou dedo) */
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.App__videos {
  height: 100vh;
  height: 90%;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;


  /* Limitar a rolagem somente dentro do vídeo*/
  overflow: scroll;                   

  /* Para esconder o scrollbar do internet explore e firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Primero comando para pular para o próximo vídeo com um leve comando (mouse ou dedo) */
  scroll-snap-type: y mandatory;  

  position: relative;
}

/* Para esconder o scrollbar do chorome e edge */
.App__videos::-webkit-scrollbar {
  display: none;
}

